:root {
	background-color: #000000 !important;
}

body {
	background-color: #000000
}

#console {
	font-family: 'Gill Sans', 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
	color: #fff;
	width:auto;
	margin-left:20px;
	margin-right:20px;
	margin-top:20px;
	font-size:14px;
}

a {
	color: #0bc;
	text-decoration: none;
}

#a {
	color: #0f0;
}

#p{
	color: rgb(166, 199, 22);
}

#c {
	color: #0bc;
}

#b {
	color: #ae81ff;
}

#g {
	color: #aef4fd;
}


#f {
	color: #e7d37a;
}


#e {
	color: #6593f5;
}

#h {
	color: #e9b997;
}
#j {
	color: #e58642;
}

#k {
    	animation: change 2s;
}

#op{
    	color: #888888
}

@keyframes change {
    	0%  { color:  #0f0; }
    	50% { color:  #0f0; }
    	99% { color: black; }
}

